<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

  
<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <div class="col"><%- include ('../partials/message') %></div>
    <form action="/login" method="post">
        <div class="mb-3">
          <label for="Username" class="form-label">Username</label>
          <input type="username" name="username" class="form-control" id="Username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" name = "password" class="form-control" id="Password" aria-describedby="emailHelp">
          </div>
          <p>Don't have an account? <a href="/post">Register</a>.</p>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
  </div>
</main>

<%- include ('../partials/footer') %>